@font-face {
  font-family: "MYY";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/MYYeongnamnu.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SCD";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: "SCD";
  background-color: #f6f6f6;
}

@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

#root {
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.App {
  min-height: 100vh;
  padding: 0 20px;
}

/* MyButton */
.MyButton {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  white-space: nowrap;
  font-size: 18px;
  font-family: "SCD";
}

.MyButton_default {
  background-color: #ececec;
  color: #000;
}
.MyButton_positive {
  background-color: #64c964;
  color: #fff;
}
.MyButton_negative {
  background-color: #fd565f;
  color: #fff;
}

/* HEADER */

header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}

header > div {
  display: flex;
}
header .head_text {
  width: 50%;
  font-size: 25px;
  justify-content: center;
}

header .head_btn_left {
  width: 25%;
  justify-content: start;
}

header .head_btn_right {
  width: 25%;
  justify-content: end;
}

header button {
  font-family: "MYY";
}

/* DiaryList */
.DiaryList nav {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 30px;
}

.DiaryList nav .right_col {
  flex-grow: 1;
}

.DiaryList nav .right_col button {
  width: 100%;
}

.DiaryList .ControlMenu {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: #ececec;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
}

/* DiaryItem */
.DiaryItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #e2e2e2;
}

.DiaryItem .emotion_img_wrapper {
  display: flex;
  justify-content: center;
  min-width: 120px;
  height: 80px;
  border-radius: 6px;
  cursor: pointer;
}

.DiaryItem .emotion_img_wrapper_1 {
  background-color: #64c964;
}
.DiaryItem .emotion_img_wrapper_2 {
  background-color: #9dd772;
}
.DiaryItem .emotion_img_wrapper_3 {
  background-color: #fdce17;
}
.DiaryItem .emotion_img_wrapper_4 {
  background-color: #fd8446;
}
.DiaryItem .emotion_img_wrapper_5 {
  background-color: #fd565f;
}

.DiaryItem .emotion_img_wrapper img {
  height: 100%;
}

.DiaryItem .info_wrapper {
  margin-left: 20px;
  flex-grow: 1;
  cursor: pointer;
}

.DiaryItem .diary_preview {
  margin-top: 5px;
  font-size: 18px;
}

.DiaryItem .btn_wrapper {
  min-width: 70px;
}

/* DiaryEditor */
.DiaryEditor {
  padding-bottom: 40px;
}

.DiaryEditor section + section {
  margin-top: 40px;
}

.DiaryEditor h4 {
  font-size: 22px;
  font-weight: bold;
}

.DiaryEditor .input_date {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: #ececec;
  cursor: pointer;
  font-family: inherit;
  font-size: 20px;
}

.DiaryEditor .emotion_list_wrapper {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 2%;
}

.DiaryEditor textarea {
  width: 100%;
  min-height: 200px;
  padding: 20px;
  resize: vertical;
  box-sizing: border-box;
  font: inherit;
  border: none;
  border-radius: 6px;
  background-color: #ececec;
}

.DiaryEditor .control_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* EmotionItem */
.EmotionItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  border-radius: 6px;
  cursor: pointer;
}

.EmotionItem img {
  width: 50%;
  margin-bottom: 10px;
}

.EmotionItem span {
  font-size: 18px;
}

.EmotionItem_off {
  background-color: #ececec;
}

.EmotionItem_on_1 {
  background-color: #64c964;
  color: #fff;
}
.EmotionItem_on_2 {
  background-color: #9dd772;
  color: #fff;
}
.EmotionItem_on_3 {
  background-color: #fdce17;
  color: #fff;
}
.EmotionItem_on_4 {
  background-color: #fd8446;
  color: #fff;
}
.EmotionItem_on_5 {
  background-color: #fd565f;
  color: #fff;
}
