@import "_reset";
@import "_mixin";

.section__inner {
  padding: 40px;
  background-color: grey;

  .info-wrap,
  .list-wrap {
    display: flex;
    justify-content: space-between;
  }

  .info-wrap {
    align-items: center;
    height: 270px;
    background-color: #fff;
    .tit-box {
      display: inline-flex;
      align-items: center;
      width: 320px;
      height: 100%;
      padding: 0 40px;
      background-color: aquamarine;
      p {
        font-size: 20px;
        letter-spacing: -1.3px;
        strong {
          font-size: 30px;
        }
      }
    }
    .info-box {
      padding: 0 50px;
      background-color: cadetblue;
      dl {
        dt {
          font-size: 20px;
          font-weight: 600;
          + dd {
            margin-top: 14px;
          }
        }
        dd {
          font-size: 18px;
          span {
            padding-right: 16px;
            font-weight: 600;
            @include after(1px, 10px) {
              right: 8px;
              top: 50%;
              transform: translateY(-50%);
              background-color: #000;
            }
          }
          + dd {
            margin-top: 8px;
          }
        }
      }
    }

    .video-box {
      height: 100%;
      padding: 40px;
      background-color: cadetblue;
      video {
        width: 100%;
        height: 100%;
        background-color: cornflowerblue;
      }
    }

    + .list-wrap {
      margin-top: 40px;
    }
  }

  .list-wrap {
    .card-list {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .card-item {
        display: flex;
        flex-direction: column-reverse;
        width: calc(25% - 30px);
        background-color: #fff;
        .txt-box {
          height: 160px;
          padding: 20px 0;
          .tit {
            font-size: 18px;
            font-weight: 500;
            + .desc {
              margin-top: 6px;
            }
            + .price {
              margin-top: 10px;
            }
          }
          .desc {
            color: #666;
            font-size: 14px;
            + .price {
              margin-top: 10px;
            }
          }
          .price {
            font-size: 18px;
            span {
              strong {
                font-size: 25px;
                font-weight: 900;
                color: olivedrab;
              }
            }
            .per {
              strong {
                font-size: 20px;
                font-weight: 400;
                text-decoration: solid underline olivedrab 1px;
              }
            }
          }
          .badge {
            display: inline-block;
            margin-top: 10px;
            padding: 2px 8px;
            border: 1px solid olivedrab;
            border-radius: 20px;
            background-color: #fff;
            font-size: 12px;
          }
        }
        .img-box {
          width: 100%;
          height: 220px;
          background-color: darkslategrey;
          a {
            display: flex;
            align-items: flex-end;
            width: 100%;
            height: 100%;
            padding: 10px;
          }
          .txt-line {
            display: flex;
            justify-content: space-between;
            width: 100%;
            // &::after {
            //   content: "";
            //   display: block;
            //   clear: both;
            // }
            ul {
              display: flex;
              // &.short {
              //   float: left;
              // }
              // &.wish {
              //   float: right;
              // }
              li {
                span {
                  color: #fff;
                  font-size: 13px;
                }
                + li {
                  margin-left: 16px;
                  span {
                    @include before(1px, 70%) {
                      background-color: #fff;
                      left: -8px;
                      top: 0;
                      bottom: 0;
                      margin: auto;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
