@import "_reset";
@import "_mixin";

//common
body {
  font-size: 1.6rem;
}

//style

$header-h: 4.4rem;

.header {
  position: fixed;
  width: 100%;
  height: $header-h;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  &__inner {
    display: flex;
    justify-content: space-between;
    max-width: 1024px;
    height: 100%;
    margin: 0 auto;
  }
  .gnb {
    // max-width: 98rem;
    height: 100%;
    // margin: 0 auto;
    > ul {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: space-between;
      li {
        height: 100%;
        a {
          display: inline-flex;
          height: 100%;
          align-items: center;
          padding: 0 1rem;
          font-size: 1.2rem;
          background-color: rgba(240, 255, 255, 0.2);
        }
        .logo {
          height: 100%;
        }
      }
    }
  }
  .etc-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.contents {
  padding-top: $header-h;

  .bnr {
    background-color: azure;
    p {
      padding: 1.2rem 0;
      text-align: center;
      font-size: 1.4rem;
      a {
        color: cornflowerblue;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  article.division {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  section {
    background-color: blueviolet;
    .section__inner {
      height: 100%;
      padding-top: 5rem;
      text-align: center;
      // background-color:cadetblue;
    }
    &:nth-child(even) {
      background: red;
    }
    + section.wide {
      margin-top: 1rem;
    }

    .title {
      &-type1 {
        font-size: 5.6rem;
        font-weight: 600;
      }
      &-type2 {
        font-size: 4rem;
      }

      @at-root [class*="title-"] {
        border: 1px solid;
        + .sub-tit {
          margin-top: 0.6rem;
        }
        &.extra {
          line-height: 0.9em;
          transform: translateY(-0.8rem);
          span {
            display: inline-block;
            font-size: 2rem;
            &.new {
              // margin-top: -0.8rem;
              color: goldenrod;
              font-weight: 300;
              &-type2 {
                font-size: 1.6rem;
                // font-weight: 300;
              }
            }
            // &.new-type2{
            //   font-size: 1.8rem;
            //     font-weight: 300;
            //   }
            &.series {
              color: brown;
            }
          }
        }
      }
    }
    .sub-tit {
      font-size: 2.8rem;
    }

    .link-wrap {
      margin-top: 2rem;
      > a {
        background-color: #fff;
        font-size: 2rem;
        color: cornflowerblue;
        &:hover {
          span {
            text-decoration: underline;
          }
        }
        span {
          + i {
            padding-left: 0.8rem;
            &::after {
              content: ">";
            }
          }
        }
        + a {
          margin-left: 2rem;
        }
      }
    }
    &.wide {
      height: 58rem;
    }
    &.movie {
      .section__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 3rem;
      }
      .movie-tit {
        line-height: 1em;
        .eng {
          text-transform: uppercase;
          font-size: 4rem;
        }
      }
      .movie-key {
        font-size: 2rem;
        font-weight: 700;
        + .movie-link {
          margin-top: 1rem;
        }
      }
      .movie-link {
        display: inline-block;
      }
    }
    &.narrow {
      width: calc(50% - 0.5rem);
      height: 62rem;
      margin-top: 1rem;
      .section__inner {
        max-width: 60%;
        margin: 0 auto;
      }
      // [class*="title-"]{
      //   // max-width: 30rem;
      // }
      .title-type2 {
        // max-width: 40rem;
        // padding: 0 10rem;
        word-break: keep-all;
      }
      .sub-tit {
        font-size: 2.1rem;
      }
      &.bottom {
        .section__inner {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          padding-bottom: 5rem;
        }
      }
    }
  }
}
