@import "_reset";
@import "_mixin";

h1,
h2,
h3,
h4,
ul,
li,
dl,
dd,
dt,
ol {
  font-family: "Trebuchet MS", Trebuchet, "Liberation Sans", sans-serif;
}

//공통부분
.moo section {
  //   overflow: hidden;
  &:nth-of-type(2n-1) {
    background-color: azure;
  }
  &:nth-of-type(2n) {
    background-color: #f3f4f6;
  }
}
//이너 세팅
.moo__inner {
  width: 120rem;
  margin: 0 auto;
  padding: 4rem 0;
}

//텍스트 세팅
[class*="__tit"] {
  text-align: center;
  font-size: 3rem;
  color: #323c49;
  ~ p {
    text-align: center;
    font-size: 1.8rem;
    color: #434f61;
  }
}
[class*="__sub-tit"] {
  line-height: 1.15;
  font-size: 1.8rem;
  color: #323c49;
}
[class*="__desc"] {
  line-height: 1.5;
  @include font(1.4rem, null, "Verdana, Geneva, sans-serif");
  color: #434f61;
}

//인라인 블락 세팅
.ib-list {
  &.icon-type {
    @include ib-parent(18rem);
  }
  &.card-type {
    @include ib-parent(37rem);
  }
  > li {
    @include ib-child();
  }
}

//아이콘 타입 리스트
.icon-type {
  > li {
    width: 25%;
    padding: 0 3rem;
    // background-color: aquamarine;
    border: 1px solid;
    text-align: center;
  }
  &__img {
  }
  &__sub-tit {
    margin-top: 1.2rem;
  }
  &__desc {
    margin-top: 1rem;
  }
}

.card-type {
}
